*{margin:0;padding:0}
.container-full{
    width:100%;
    height:auto;
}
.container{
    width: 960px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}
a{text-decoration:none;}
img{width:100%}
/*defult*/

/**start top part**/
.food-top-sec{
    background-image: url(img/images\ \(3\).jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.cont-head-food{
    padding:100px 0px;
}
.halp-width-top{
    width:50%;
    height:auto;
    float: left;
    color:#fff;
}
.head-text-food{
    padding:60px 0px;
}
.halp-width-top h1{
    font-size: 45px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 53px;
    text-transform: capitalize;
}
.halp-width-top h1 span{
    color:#ED2D02;
}
.halp-width-top p{
    font-size: 17px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.halp-width-top .btn-order-food{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    background-image:linear-gradient( #FC8F49, #FC5632);
    margin-top: 33px;
    display: inline-block;
    padding: 20px 34px;
    border-radius: 36px;
    color:#fff;
}

/**end top part**/

/**start about section**/
.about-full-bg{
    background-image: url(img/Frame\ 59.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.about-heading{
    padding: 40px 0px;
    text-align: center;
}
.about-heading h1{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
}
.about-heading h1::after{
    content: "";
    width: 91px;
    height: 3px;
    background: red;
    display: block;
    margin: 0 auto;
}
.about-text-area{
    padding: 82px 0px;
    color:#000;
}
.about-btn{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    background-image: linear-gradient( #B08989, #EAB108);
    margin-top: 33px;
    display: inline-block;
    padding: 20px 34px;
    border-radius: 36px;
}
/**end about section**/

/**start recipies section**/
.cont-recipies{
    padding: 40px 0px;
    text-align: center;
}
.recipies-top-part h1{
    font-size:40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 65px;
    text-transform: capitalize;
}
.recipies-top-part h1::after{
    content: "";
    width: 91px;
    height: 3px;
    background: red;
    display: block;
    margin: 0 auto;
}
.recipies-top-part p{
    font-size:16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 3em;
}

.recipies-bottom-part .recipies-item{
    width: 26%;
    float: left;
    padding: 18px;
    box-shadow: 1px 2px 18px #999292;
    margin: 17px;
    border-radius: 32px;
}
.recipies-bottom-part .recipies-item h2{
    font-size : 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 3em;
    text-transform: capitalize;
}
.recipies-bottom-part .recipies-item p{
    font-size:14px;
    font-family:fantasy

}

/**end recipies section**/

/**start follow section**/
.follower-full-bg{
    padding: 30px 0px;
}
.follow-sec-container{
    box-shadow: 1px 3px 30px #ddd;
}
.follower-sec{
    padding: 38px 0px;
    overflow: hidden;
    box-shadow: 1px 2px 30px #999292;
}
.follower-sec .all-social-sec{
    width:33%;
    float: left;
    text-align: center;
}
.follower-sec .all-social-sec h1{
    font-size: 33px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 50px;
}
.follower-sec .all-social-sec p{
    font-size: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*start offer section**/
.best-offer-full{
    background-image: url(img/Project\ Cover7.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.cont-offer-sec{
    overflow: hidden;
    padding: 40px 0px;
    min-height: 500px;
    color:black;
}
.cont-offer-sec .best-offer{
    width:40%;
    float: left;
    padding-top: 13%;
}
.cont-offer-sec .best-offer h1{
    font-size: 44px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 2em;
    text-transform: capitalize;
}
.cont-offer-sec .best-offer h3{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
    line-height: 2em;
    color: red;
}
.cont-offer-sec .best-offer h4{
    font-size:18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
    line-height: 2em;
    color:red;
}
.cont-offer-sec .best-offer p{
    font-size:18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.cont-offer-sec .best-offer img{
    padding: 0px 113px;
}


/**start footer section**/
.footer-full-bg{
    background: black;
    color:#fff;
}
.cont-footter{
    overflow:hidden;
    padding: 50px 0px;
    text-align: center;
}
.cont-footter .footer-all h1{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 50px;
}
.cont-footter .footer-all h1::after{
    content: "";
    width: 142px;
    height: 2px;
    display: block;
    margin: 0 auto;
    background-color:red;
}
.cont-footter .footer-all p{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 2em;
}

/**end footer section**/

/**start copyright sectioin**/
.copyright a{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #46712e;
    line-height: 3em;
}
/**end copyright section**/